.not-found-container {
  padding: 60px;
  text-align: center;
  font-family: "Francois One", sans-serif;
  color: gray;
}

#error-graphic {
  width: 40%;
  padding: 30px;
}

.fact-card {
  background-color: orangered;
  padding: 20px;
  color: white;
  margin: 30px auto;
  border-radius: 10px;
  text-align: left;
}
