.landing-page-container {
  padding: 40px;
}

.header {
  margin-bottom: 50px;
  font-family: "Cinzel", sans;
}
.form {
  padding: 0;
  text-align: left;
}
.form input {
  background: lightgray;
  padding: 3px;
  margin-right: 10px;
  border-radius: 3px;
}
button {
  padding: 5px 10px;
  border-radius: 5px;
  background: rgb(122, 131, 122);
  color: white;
  border: none;
}
