.page-container {
  padding: 12%;
}
#dead-ramones {
  border: rgb(65, 62, 62) 10px solid;
  width: 100%;
  border-radius: 5px;
}
.banner {
  font-family: "Cinzel", sans;
  text-align: center;
  color: rgb(107, 106, 106);
}
.subheader {
  text-align: left;
  font-weight: bolder;
}

.description {
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
  color: rgb(107, 106, 106);
}
.error-message {
  margin-bottom: 10px;
  font-style: italic;
  font-family: "Lato", sans-serif;
  color: firebrick;
}
.form {
  padding: 0;
  text-align: left;
}
.form input {
  background: lightgray;
  padding: 3px;
  margin-right: 10px;
  border-radius: 5px;
}
button {
  padding: 5px 10px;
  border-radius: 4px;
  background: #4e554e;
  color: white;
  cursor: pointer;
}
button:disabled {
  padding: 5px 10px;
  border-radius: 4px;
  background: #9e9e9e;
  color: black;
  cursor: pointer;
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .header {
    margin-bottom: 30px;
  }
  .landing-page-container {
    font-size: 1.3em;
  }

  .subheader {
    margin-bottom: 30px;
  }

  #dead-ramones {
    margin-bottom: 30px;
  }
  .description {
    margin-bottom: 50px;
  }

  .form {
    margin-bottom: 50px;
  }

  .form input {
    font-size: 1em;
  }

  button {
    font-size: 1em;
  }
}
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  button {
    margin-top: 10px;
  }
  .form input {
    font-size: 1em;
    width: 100%;
  }
}
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .banner {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
  }

  .image {
    display: flex;
    justify-content: center;
  }
  .landing-page-container {
    font-size: 1.3em;
  }

  .subheader {
    margin-bottom: 30px;
  }

  .description {
    margin-bottom: 50px;
  }

  .form {
    margin-bottom: 50px;
  }
  .form input {
    margin-right: 10px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .form input {
    font-size: 1em;
    width: 100%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .header {
    margin-bottom: 20px;
  }
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .subheader {
    text-align: left;
  }

  #dead-ramones {
    margin-bottom: 30px;
  }
  .form input,
  button {
    font-size: 1em;
    margin-right: 20px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .banner {
    display: flex;
    justify-content: center;
  }

  .description {
    margin-bottom: 50px;
  }

  .form input {
    margin-right: 10px;
  }
}
/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .form input {
    font-size: 1em;
    width: 100%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .banner {
    display: flex;

    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }
  .header {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  .subheader {
    font-size: 1.2em;
  }
  .image {
    margin-bottom: 30px;
  }
  .landing-page-container {
    font-size: 1.3em;
  }
  .form input,
  button {
    font-size: 1em;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .banner {
    font-size: 1.3em;
  }

  .subheader {
    margin: 30px 0;
  }

  .description {
    margin-bottom: 50px;
  }

  .form input {
    margin-right: 10px;
  }
}
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .banner {
    margin-top: 30px;
  }
  .header {
    margin-bottom: 0px;
  }
  .form input {
    font-size: 1em;
    width: 100%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .header {
    font-size: 1.2em;
  }
  .landing-page-container {
    font-size: 1.3em;
  }
  .subheader {
    margin-bottom: 30px;
  }
  .image {
    margin-bottom: 40px;
  }
  .form input,
  button {
    font-size: 1em;
    margin-right: 20px;
  }
}

/* ----------- Galaxy S6 ----------- */

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {
  .form input {
    font-size: 1em;
    width: 100%;
  }
}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .banner {
    font-family: "Cinzel", sans;
    font-size: 1.2em;
  }
  .subheader {
    text-align: left;
    font-weight: bolder;
    margin: 30px 0;
  }
  #dead-ramones {
    border: rgb(65, 62, 62) 20px solid;
  }

  .description {
    font-size: 1.2em;
    margin-bottom: 50px;
  }
  .image {
    margin-bottom: 40px;
  }
  .form input {
    font-size: 1.3em;
  }
  button {
    font-size: 1em;
  }
}
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .banner {
    font-size: 1.3em;
  }
  .subheader {
    text-align: center;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .banner {
    font-size: 1.3em;
  }
  .subheader {
    text-align: center;
  }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .description {
    font-size: 1.2em;
    margin-bottom: 50px;
  }
}
/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    margin-bottom: 40px;
    font-size: 2em;
  }
  .subheader {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
  }
  .description {
    font-size: 2em;
    margin-bottom: 50px;
    padding: 40px 0;
  }
  .image {
    margin-bottom: 40px;
  }
  #dead-ramones {
    border: rgb(65, 62, 62) 20px solid;
  }
  .form input,
  button {
    font-size: 2em;
    margin-right: 20px;
  }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .header {
    margin-bottom: 40px;
    font-size: 2em;
  }
  .subheader {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
  }
  .description {
    font-size: 2em;
    margin-bottom: 50px;
    padding: 40px 0;
  }
  .image {
    margin-bottom: 40px;
  }
  #dead-ramones {
    border: rgb(65, 62, 62) 20px solid;
  }
  .form input,
  button {
    font-size: 2em;
    margin-right: 20px;
  }
}
/* ----------- Large Screens ----------- */
@media screen and (min-device-width: 1600px) {
  .page-container {
    padding: 5% 20%;
  }
  .subheader {
    font-size: 1.3em;
    text-align: center;
    margin: 20px 0;
  }

  .description {
    font-size: 1.2em;
    margin: 30px 0;
  }
  .form input,
  button {
    font-size: 1em;
    margin-right: 20px;
  }
}
