.results-container {
  padding: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portrait {
  width: 250px;
  margin: 10px auto;
  border: 10px double rgb(211, 150, 19);
  border-radius: 50%;
  box-shadow: 10px 5px 20px gray;
}
.name {
  text-align: center;
  font-family: "Cinzel", serif;
  font-weight: bold;
}
.status_dead {
  color: rgb(0, 0, 0);
  font-family: "Eater", cursive;
  text-align: center;
}

.status_alive,
.dates {
  color: rgb(0, 0, 0);
  font-family: "Cinzel", serif;
  text-align: center;
}
.bio_dates_alive {
  margin-bottom: 40px;
}
