.results-container {
  padding: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portrait {
  width: 250px;
  margin: 10px auto;
  border: 10px inset black;
}
.name {
  text-align: center;
  font-family: "Cinzel", serif;
  font-weight: bold;
}
.status {
  color: rgb(0, 0, 0);
  font-family: "Eater", cursive;
  text-align: center;
}
.bio_dates {
  margin-bottom: 40px;
}
.status_alive {
  color: rgb(0, 0, 0);
  font-family: "Cinzel", serif;
  text-align: center;
}
.bio_dates_alive {
  margin-bottom: 40px;
}
